Flask==2.2.2
Werkzeug==2.2.2
flask-restful
Flask-SQLAlchemy==2.5.1
python-docx==0.8.11
Pillow==9.5.0
pytesseract
setuptools
openpyxl
pandas
numpy
gunicorn==20.1.0
pdf2image
PyMuPDF
PyPDF2
tenacity
vertexai
pathlib
tiktoken
flask[async]
chromadb

python-dotenv==1.0.1
streamlit==1.24.0
langchain-community==0.2.10
langchain-text-splitters==0.2.2
langchain-groq==0.1.9
unstructured
unstructured[pdf]
faiss-cpu
transformers==4.43.3
sentence-transformers==3.0.1
nltk==3.9.1
